.game-2048-area {
	position: absolute;
	bottom:0;
	left: 0;
	width: 600px;
	height: 600px;
	padding: 12px;
	box-sizing: border-box;
	border-radius: 12px;
	background-color: #E2DCB9;
}

.game-2048-row {
	&:not(:first-child){
		margin-top: 12px;
	}
}

.game-2048-cell {
	display: inline-block;
	background-color: rgba(0,0,0,.3);

	&:not(:first-child){
		margin-left: 12px;
	}
}