.v-modal {
	position: fixed;

	button {
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.v-modal-mask {
	position: absolute;
	background-color: rgba(0, 0, 0, .45);
}

.v-modal, .v-modal-mask {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.v-modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 10px 0;
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 5px;

	.v-modal-close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 16px;
		height: 16px;
		transition: 0.25s ease-in-out;
		cursor: pointer;

		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			height: 2px;
			margin-top: -1px;
			border-radius: 100%;
			background: rgba(0, 0, 0, .3);
			transition: .25s ease-in-out;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			transform: rotate(90deg);
			&:before, &:after {
				background: rgba(0, 0, 0, .45);
			}
		}
	}

	.v-modal-title {
		width: 100%;
		height: 40px;
		padding: 12px 0 8px;
		box-sizing: border-box;

		&:after {
			content: '';
			position: absolute;
			top: 40px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: rgba(0, 0, 0, .2);
			border-radius: 100%;
		}
	}

	.v-modal-child {
		overflow: hidden; // 有待更改，暂时让其隐藏多余内容。让其子节点自己处理
	}

	.v-modal-button-group {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 40px;
		overflow: hidden;
		border-radius: 0 0 5px 5px;
		color: #ffffff;

		button {
			display: inline-block;
			height: 100%;
			box-sizing: border-box;

			&:not(:first-child) {
				border-left: 1px solid #ffffff;
			}
		}
	}
}

// animation

.duration-25 {
	animation-duration: .25s !important;
}

.duration-5 {
	animation-duration: .5s !important;
}

.duration-75 {
	animation-duration: .75s !important;
}

@keyframes v-modal-fade-enter {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.v-modal-fade-enter {
	animation: v-modal-fade-enter both ease-in;
}

@keyframes v-modal-fade-leave {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.v-modal-fade-leave {
	animation: v-modal-fade-leave both ease-out;
}

@keyframes v-modal-zoom-enter {
	0% {
		transform: scale3d(.3, .3, .3);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.v-modal-zoom-enter {
	animation: v-modal-zoom-enter both cubic-bezier(.31, .59, 0, 1.52);
}

@keyframes v-modal-zoom-leave {
	0% {
		transform: scale3d(1, 1, 1);
	}

	100% {
		transform: scale3d(.3, .3, .3);
	}
}

.v-modal-zoom-leave {
	animation: v-modal-zoom-leave both ease-out;
}

@keyframes v-modal-flip-enter {
	0% {
		transform: perspective(1400px) rotateX(60deg);
	}

	70% {
		transform: perspective(1400px) rotateX(-15deg);
	}

	100% {
		transform: perspective(1400px) rotateX(0deg);
	}
}

.v-modal-flip-enter {
	animation: v-modal-flip-enter both ease;
}

@keyframes v-modal-flip-leave {
	0% {
		transform: perspective(1400px) rotateX(0deg);
	}

	30% {
		transform: perspective(1400px) rotateX(-15deg);
	}

	100% {
		transform: perspective(1400px) rotateX(60deg);
	}
}

.v-modal-flip-leave {
	animation: v-modal-flip-leave both ease;
}

@keyframes v-modal-door-enter {
	0% {
		transform: scale3d(0, 1, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.v-modal-door-enter {
	animation: v-modal-door-enter both cubic-bezier(.31, .59, 0, 1.52);
}

@keyframes v-modal-door-leave {
	0% {
		transform: scale3d(1, 1, 1);
	}

	100% {
		transform: scale3d(0, 1, 1);
	}
}

.v-modal-door-leave {
	animation: v-modal-door-leave both ease-in-out;
}

@keyframes v-modal-rotate-enter {
	0% {
		transform: rotateZ(-180deg) scale3d(.3, .3, .3);
	}

	100% {
		transform: rotateZ(0deg) scale3d(1, 1, 1);
	}
}

.v-modal-rotate-enter {
	animation: v-modal-rotate-enter both ease;
}

@keyframes v-modal-rotate-leave {
	0% {
		transform: rotateZ(0deg) scale3d(1, 1, 1);
	}

	100% {
		transform: rotateZ(-180deg) scale3d(.3, .3, .3);
	}
}

.v-modal-rotate-leave {
	animation: v-modal-rotate-leave both ease;
}

//slideDown
@keyframes v-modal-slideDown-enter {
	0% {
		transform: translate3d(0, -100px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
.v-modal-slideDown-enter {
	animation: v-modal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes v-modal-slideDown-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -100px, 0);
	}
}
.v-modal-slideDown-leave {
	animation: v-modal-slideDown-leave both ease;
}

//slideLeft
@keyframes v-modal-slideLeft-enter {
	0% {
		transform: translate3d(-150px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
.v-modal-slideLeft-enter {
	animation: v-modal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes v-modal-slideLeft-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-150px, 0, 0);
	}
}
.v-modal-slideLeft-leave {
	animation: v-modal-slideLeft-leave both ease;
}

//slideRight
@keyframes v-modal-slideRight-enter {
	0% {
		transform: translate3d(150px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
.v-modal-slideRight-enter {
	animation: v-modal-slideRight-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes v-modal-slideRight-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(150px, 0, 0);
	}
}
.v-modal-slideRight-leave {
	animation: v-modal-slideRight-leave both ease;
}

//slideUp
@keyframes v-modal-slideUp-enter {
	0% {
		transform: translate3d(0, 100px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
.v-modal-slideUp-enter {
	animation: v-modal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes v-modal-slideUp-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 100px, 0);
	}
}
.v-modal-slideUp-leave {
	animation: v-modal-slideUp-leave both ease;
}





