.page-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .85);
}

.link-list-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

$link-width: 100px;

.link-div {
	position: relative;
	float: left;
	width: $link-width;
	height: $link-width;
	margin: 30px 0 0 30px;
	border-radius: $link-width;
	animation: btn-animation 2s infinite both ease-in-out;
	transition: all .5s ease-in-out;

	&:hover {
		animation-play-state: paused;
		a {
			text-shadow: 1px 1px 4px rgba(0,0,0,.45);
		}
	}

	a {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #ffffff;
	}
}

@keyframes btn-animation {

	0% {
		transform: scale3d(.9, .9, 1);
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}

	100% {
		transform: scale3d(.9, .9, 1);
	}
}
