.game-2048-container {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 700px;
	transform: translate(-50%, -50%);
}

.game-area {
	position: absolute;
	bottom:0;
	left: 0;
	width: 600px;
	height: 600px;
	padding: 12px;
	box-sizing: border-box;
	border-radius: 12px;
	background-color: rgba(109, 100, 32, 0.75);
}