@import "var";

.footer {
	height: 140px;
	width: 100%;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .75);
	text-align: center;
	ul {
		height: 100px;
		display: inline-block;
		li {
			position: relative;
			float: left;
			width: 170px;
			text-align: center;
			i {
				width: 100px;
				height: 100px;
				line-height: 100px;
				border-radius: 50px;
				font-size: 50px;
				color: rgba(255, 255, 255, .7);
				@include transition(.15s, ease-in-out);
				&:hover {
					font-size: 70px;
					color: rgba(255, 255, 255, 1);
				}
				//background-color: #006666;
			}
			.img-wechat {
				position: absolute;
				display: inline-block;
				width: auto;
				height: 450px;
				left: 50%;
				@include transform(translate(-50%,-100%));
				border-radius: 6px;
			}
		}
	}


	.go-to-top {
		position: fixed;
		width: 60px;
		height: 60px;
		right: 40px;
		bottom: 40px;
		cursor: pointer;

		img {
			height: 100%;
			width: 100%;
			@include transition(.2s, ease);
			&:hover {
				@include transform(scale(1.2,1.2) rotate(360deg));
			}
		}


	}
}