/*--color--*/
$baseColor: #00CED1;
$baseColorHover: #00BEC1;
$baseColorActive: #009EA1;
$borderColor: #E8E8E8;
$grey: #F2F2F2;
$orange: #FFAF00;
$pink: #FF7D7D;
$pink2: #FF4081;
$pink2hover: #FF2061;
$blue: #03A9F4;
$fontColor: rgba(0, 0, 0, 0.7);
$fontColor2: #555;

/*--mixin--*/
@mixin transition($time,$type) {
  -webkit-transition: all $time $type;
  -o-transition: all $time $type;
  transition: all $time $type;
}
@mixin transform($value) {
  -webkit-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}
@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin animation-duration($time) {
  -webkit-animation-duration:$time;
  animation-duration:$time;
}
@mixin animation-delay($time) {
  -webkit-animation-delay:$time;
  animation-delay:$time;
}